.container {
  @apply bg-blue-100 p-8 w-full transition-all duration-300 ease-out;
}

.content {
  @apply max-w-4xl mx-auto;
}

.heading {
  @apply text-3xl font-bold mb-6;
}

.paragraph {
  @apply mb-6;
}

.toggleButton {
  @apply inline-block px-4 py-2 bg-indigo-600 text-white rounded-md cursor-pointer hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}

/* Responsive width adjustments when drawer is open */
:global(.peer:checked) ~ :global(.drawer) ~ .container {
  /* These selectors apply when the drawer is open */
}

@media (min-width: var(--breakpoint-md)) {
  /* md */
  :global(.peer:checked) ~ :global(.drawer) ~ .container {
    width: 55%; /* md screens */
  }
}

@media (min-width: var(--breakpoint-lg)) {
  /* lg */
  :global(.peer:checked) ~ :global(.drawer) ~ .container {
    width: 65%; /* lg screens */
  }
}

@media (min-width: var(--breakpoint-xl)) {
  /* xl */
  :global(.peer:checked) ~ :global(.drawer) ~ .container {
    width: 70%; /* xl screens */
  }
}
